@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Montserrat:wght@200&family=Mukta:wght@200;300;400;500&display=swap');
*{
    margin: 0%;
}
.column1{
    color: white;
    background-color: #000;
    float: left;
    width: 20%;
    height: 100%;
    z-index: 2;

}
.column2{
    color: white;
    background-color: #0e0e0e;
    width: 100%;   
}
#logo{
    margin: 10px;
}
.left-btn{
    background-color: transparent; 
    display: flex;
    align-items: center;
    height: 100% ;
    padding: 10px;
    border: 0px ;
    font-family: 'Mukta', sans-serif;
    font-size: large;
    font-weight: 500;
    color: white;
    border-radius: 10px;
    margin: 2%;
    width: 250px;
    text-align: left;
}
.left-btn:hover{
    background-color: #282828;

}
.dow-btn{
    background-color: transparent; 
    border: 0px ;
    display: flex;
    align-items: center;
    font-family: 'Mukta', sans-serif;
    font-size: large;
    font-weight: 500;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin: 2%;
    width: 250px;
    text-align: left;

}
.dow-btn:hover{
    background-color: #282828;}
.search {
    width: 400px;
    /* margin: 10px; */
    margin-left: 10px;
    /* margin-bottom: -15%; */
    height: 40px;
    font-family: 'Mukta', sans-serif;
    font-size: large;
    font-weight: 500;
    padding-left: 70px;
    background-image: url('');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 5px center;
    border: 1px solid #ccc;
    border-radius: 30px;

}
.name{
    font-size: x-large;
    padding-left: 30px;
    font-weight: 500;
    color: white;
    font-family: 'Mukta', sans-serif;
    /* margin: 5px; */
    margin-left: 20%;

}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    /* size: 20px;
    font-size: medium;
    padding-left: 30px; */
    font-weight: 500;
    color: white;
    font-family: 'Mukta', sans-serif;
}
.num{
    margin-left: 5px;
    margin-right: 5px;
}
.downimage{
    display: flex;
    margin-top: -70px;
    width: 220px;
    height: auto;
    margin-left: 10px;
    margin-bottom: 10px;

}.solid-box1 {
    width: 550px; 
    height: 240px; 
    background-color: #8d67ab;
    color: #fff;
    /* padding: 20px; Padding around the text */
    border-radius: 20px;
    margin-left: 22%;
    font-size: 350%;
    padding-left: 15px;
    padding-top: 2px;
    font-weight: 500;
    color: white;
    font-family: 'Mukta', sans-serif;
    
}
.solid-box2 {
    width: 550px;
    height: 240px;
    background-color: #ba5d07;
    color: #fff;
    /* padding: 20px; Padding around the text */
    border-radius: 20px;
    margin-left: 61%;
    margin-top: -240px;
    font-size: 350%;
    padding-left: 15px;
    padding-top: 2px;
    font-weight: 500;
    color: white;
    font-family: 'Mukta', sans-serif;
    
}

